.bottom {
    font-size: .9rem;
    color: #3700B3;
    padding: 3rem;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    &__info {
        text-align: center;
        &__item {
            padding: .3rem;
        }
    }

    &__selecter > select {
        font-family: "Ubuntu Regular", sans-serif;
        width: 15rem;
        padding: .8rem;
        outline: none;
    }
}