.bottom {
    font-family: "Ubuntu Regular", sans-serif;
    font-size: .9rem;
    // background-image: linear-gradient(to left top, #e8e8e4, #d8e2dc);
    background-color: #fff;
    color: #3d405b;
    padding: 3rem;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    &__info {
        text-align: center;
        &__item {
            padding: .3rem;
        }
    }

    &__selecter > select {
        font-family: "Ubuntu Light", sans-serif;
        color: inherit;
        width: 15rem;
        padding: .8rem;
        outline: none;
    }
}